<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Спасибо за заказ!</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles/index.css">
    <link rel="shortcut icon" href="../../static/styles/images/favicon.ico">
</head>
<body>
<div class="finished-order">
    <p>Спасибо за ваш заказ.</p>
    <p>Билеты отправлены на электронный адрес: <span style="font-weight: bold">{{email}}</span></p>
    <form action="/" method="get">
        <p><input class="return-button" type=submit value="Вернуться на страницу кинотеатра"></p>
    </form>
</div>

</body>
</html>